* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  background: linear-gradient(0deg, rgb(10, 0, 0), rgb(0, 0, 0), rgb(0, 0, 15)) no-repeat top center/cover;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

body * {
  font-family: 'Roboto', sans-serif;
  color: white;
}

#caixa {
  text-align: center;
  margin: auto;
}

#caixa h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  font-size: 43px;
  color: white;
  text-align: center;
  
  transition: 0.1s;
}

#caixa h1:hover {
  color: rgba(255, 255, 255, 0.63);
}

#barradepesquisa{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 18px;
}

#barradepesquisa input {
  border: 1px solid rgba(0, 0, 0);

  width: 250px;

  border-radius: 10px;
  padding: 5px;

  font-size: 25px;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  color: rgb(0, 0, 0);
  
  transition: .2s;
}

#barradepesquisa input:hover {
  border: 1px solid white;

  background: rgba(255, 255, 255, 0);
  color: rgb(255, 255, 255);
}

#iconedepesquisa {
  width: 35px;
  height: 35px;
  background-color: #ffffff00;
  border-radius: 50%;
  border:rgba(0, 0, 0, 0);

  font-size: 35px;
  color: #ffffff;

  transition: 0s;
}

#iconedepesquisa:hover {
  color: #ffffff9d;
  background-color: #ffffff60;
}

@media (max-width: 400px) {
  #barradepesquisa {
    width: 200;
  }
}

@media (max-width: 300px) {
  #barradepesquisa input {
    width: 150px;
  }
}