* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;

  background: linear-gradient(0deg, rgb(10, 0, 0), rgb(0, 0, 0), rgb(0, 0, 15)) no-repeat top center/ cover;
  height: 100vh;

  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: white;
}

#caixa {
  width: 620px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

#caixa h1 {
  width: 271px;

  font-family: 'Roboto', sans-serif;
  font-size: 35px;
  color: white;
  
  transition: 0.2s;
}

#caixa h1:hover {
  color: rgba(255, 255, 255, 0.63);
}

#barradepesquisa{
  width: 335px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

#barradepesquisa input {
  border: 1px solid rgba(0, 0, 0);
  border-radius: 10px;
  margin: 0;
  padding: 5px;

  font-size: 25px;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  color: rgb(0, 0, 0);
  
  transition: .2s;
}

#barradepesquisa input:hover {
  border: 1px solid white;

  background-color: rgba(255, 255, 255, 0);
  color: rgb(255, 255, 255);
}

#iconedepesquisa {
  display: flex;

  background-color: #ffffff00;
  border-radius: 50%;
  border:rgba(255, 255, 255, 0);

  font-size: 35px;
  color: #ffffff;

  transition: 0.1s;
}

#iconedepesquisa:hover {
  color: #ffffff9d;
  font-size: 32px;
}